<footer class="footer">
    <div class="container">
        <div id="w-node-bc2dcd5c-ea6b-5921-3b97-afc7efa03a40-efa03a3e" class="w-layout-layout _5rem-margin-grid wf-layout-layout">
            <div id="w-node-bc2dcd5c-ea6b-5921-3b97-afc7efa03a41-efa03a3e" class="w-layout-cell column">
                <img src="images/mushy-20logo-20simple.svg" width="80" alt="mushy pharmacy simple logo" loading="lazy" />
                <p>
                    13247 Dix Toledo Road<br />
                    Southgate, Michigan 48195
                </p>
                <div class="w-layout-hflex horizontal-flex bottom-aligned">
                    <div class="copyright w-embed w-script">
                        &copy;
                        <script>
                            new Date().getFullYear() && document.write(new Date().getFullYear());
                        </script>
                        Mushy, LLC
                    </div>
                    <p class="dot">•</p>
                    <a href="/privacy-policy">Privacy Policy</a>
                </div>
            </div>

            <div class="w-layout-cell column _0-75rem-space">
                <p><strong>The Pharmacy</strong></p>
                <a href="/" aria-current="page" class="w--current">Home</a>
                <a href="/about">About</a>
                <a href="/location">Location</a>
                <a href="/services">Services</a>
                <a href="/services/walk-in-health-screenings">Walk-in Health Screenings</a>
                <a href="/services/same-day-prescription-transfers">Same Day Prescriptions</a>
                <a href="/services/private-consultation-with-pharmacist">Private Consultation</a>
                <a href="/services/lowest-cash-prices">Lowest Cash Prices</a>
            </div>

            <div class="w-layout-cell column _3rem-space">
                <div class="column _0-75rem-space">
                    <p><strong>Get in Touch</strong></p>
                    <a href="/contact">Contact Form</a>
                    <div class="w-layout-hflex horizontal-flex left-aligned">
                        <p>Phone:</p>
                        <a href="tel:(734)318-2609">(734) 318-2609</a>
                    </div>
                    <div class="w-layout-hflex horizontal-flex left-aligned">
                        <p>Fax:</p>
                        <a href="tel:(734)318-2608">(734) 318-2608</a>
                    </div>
                </div>

                <div class="column _0-75rem-space">
                    <p><strong>Social</strong></p>
                    <div class="w-layout-hflex horizontal-flex left-aligned">
                        <a class="social-link w-inline-block"
                           aria-label="mushy pharmacy facebook in new tab"
                           href="https://www.facebook.com/people/Mushy-Pharmacy/61554021991075/"
                           target="_blank">
                            <img src="images/facebook-20icon.svg" alt="mushy pharmacy facebook" loading="lazy" />
                        </a>
                        <a class="social-link w-inline-block"
                           aria-label="mushy pharmacy instagram in new tab"
                           href="https://www.instagram.com/mushy_pharmacy"
                           target="_blank">
                            <img src="images/instagram-20icon.svg" alt="mushy pharmacy instagram" loading="lazy" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="w-layout-cell column _1-25rem-space">
                <div class="column _0-75rem-space">
                    <p><strong>Leave a Review</strong></p>
                    <a href="/reviews">See Our Reviews</a>
                </div>
                <p>
                    We would love your feedback! Please let us know about your experience at Mushy Pharmacy and how we can better serve you.
                </p>
                <a class="primary-button w-button"
                   aria-label="Leave a review"
                   target="_blank"
                   href="https://www.google.com/search?q=mushy+pharmacy&oq=mushy+pharmacy&gs_lcrp=EgZjaHJvbWUqDAgAECMYJxiABBiKBTIMCAAQIxgnGIAEGIoFMg0IARAuGK8BGMcBGIAEMgYIAhAjGCcyDQgDEAAYhgMYgAQYigUyDQgEEAAYhgMYgAQYigUyBggFEEUYPDIGCAYQRRg8MgYIBxBFGDzSAQg0ODcwajBqOagCALACAA&sourceid=chrome&ie=UTF-8#lrd=0x883b376d4f39240d:0x11d3ced5862e5130,3,,,,">
                    Leave a Review
                </a>
            </div>
        </div>
    </div>
</footer>